<div class="workspace" ng-class="{consolePadding : fullConsole}">

    <div class="workspace-nav">

        <i class="ion-navicon" ng-click="showingMenu = true"></i>

        <!-- <input class="search" type="text" placeholder="Search" ng-model="searchFiles"> -->

        <div class="dir">
            <span class="item" ng-repeat="level in pathArray track by $index">
                <span ng-if="level == '.'" ng-class="{'current':$last}" ng-click="breadCrumb($index)">
                    root
                </span>
                <span ng-if="level != '.'" ng-class="{'current':$last}" ng-click="breadCrumb($index)">
                    <i class="ion-chevron-right"></i>
                    {{level}}
                </span>
            </span>
        </div>
        
        <i class="ion-android-refresh" ng-click="refresh()" role="button" tabindex="0"></i>

        <div class="workspace-buttons">
            <button ng-click="upDir()" ng-disabled="path == '.'"><i class="ion-android-arrow-dropup-circle"></i> Up</button>
            <button ng-click="showingNewFile = true"><i class="ion-android-document"></i>New File</button>
            <button ng-click="showingNewFolder = true"><i class="ion-android-folder-open"></i>New Folder</button>
            <button ng-click="editFile()" ng-disabled="!fileSelected"><i class="ion-edit"></i>Edit</button>
            <button ng-click="showingConfirmDelete = true" ng-disabled="!fileSelected && !confirmingDelete"><i class="ion-trash-a"></i>Delete</button>
            <button ng-click="chooseDownloadDirectory()" ng-disabled="!fileSelected"><i class="ion-android-download"></i>Download</button>
            <button ng-click="renameFile()" ng-disabled="!fileSelected"><i class="ion-edit"></i>Rename</button>
            <input type="file" id="chooseDownloadDirectory" onchange="angular.element(this).scope().saveDownloadPath(); this.value=null;" webkitdirectory />
        </div>
    </div>

    <div class="file-list">
        <input type="text" ng-model="searchFiles" placeholder="Search..." class="searchInput"/>

        <div class="header">
            <span class="name">Name</span>
            <span class="size">Size</span>
            <span class="time">Date</span>
        </div>
        <div class="file"
            ng-repeat="file in files | orderBy: name |filter:searchFiles as fileSearch"
            ng-focus="selectTimer(); selectFile(file.name, file.type)"
            ng-blur="clearSelected()"
            ng-dblClick="intoDir(file.name)"
        >
        <!--
            Move themes to .file for drag/drop implementation
            ng-drag="true" ng-drag-success="onDragComplete(file.name)"
            ng-drop="true" ng-drop-success="onDropComplete(file.name)"
            draggable="true"
         -->
            <span class="name"><i class="ion-android-folder-open" ng-if="file.type == 1"></i><i class="ion-document" ng-if="file.type != 1"></i>{{file.name}}</span>
            <span class="size">{{file.size | fileSize}}</span>
            <span class="time">{{file.time | date}}</span>
        </div>
        <div class="empty-message" ng-hide="fileSearch.length">
            {{emptyMessage}}
        </div>
    </div>
</div>




<!--
MENU
 -->
<div class="menu slideTop" ng-show="showingMenu">

    <a href="http://ffftp.site" target="_blank" class="menu-branding"><img src="app/visuals/icon200.png"></a>

    <i class="ion-ios-close-empty close-menu" ng-click="showingMenu = false" ng-show="ftp"></i>

    <div class="menu-notifications ng-fade" ng-show="showUpdate">
        <div class="message" ng-click="updateApp()">There is an update available. Click to view.</div>
        <div class="ignore" ng-click="showUpdate = false"><i class="ion-close"></i></div>
    </div>

    <form class="connection-form" ng-submit="connect()" name="hostForm" novalidate>
        <div class="form-row">
            <div class="form-item">
                <input type="text" ng-model="ftpHost" name="ftpHost" placeholder="ftp.yourwebsite.com" required>
                <label for="ftp-host">Host / Server <span ng-if="hostForm.$invalid && hostForm.ftpHost.$touched" class="error">*</span></label>
            </div>
            <div class="form-item">
                <input type="text" ng-model="ftpUsername" name="ftp-username" placeholder="ftpadmin">
                <label for="ftp-username">Username</label>
            </div>
            <div class="form-item">
                <input type="password" ng-model="ftpPassword" name="ftp-password" placeholder="••••••••">
                <label for="ftp-username">Password</label>
            </div>
            <div class="form-item">
                <input type="number" ng-model="ftpPort" name="ftp-port" placeholder="21">
                <label for="ftp-port">Port</label>
            </div>
        </div>

        <div class="form-row flex-end ng-fade" ng-show="saveFavorite">
            <div class="form-item">
                <input type="text" ng-model="favoriteName" name="favoritename" placeholder="mywebsite.com">
                <label for="favorite-name">Favorite Name</label>
            </div>
            <div class="form-item">
                <input type="text" ng-model="favoritePath" name="favoritepath" placeholder="/website">
                <label for="favorite-path">Favorite Default-Path (optional)</label>
            </div>
        </div>

        <div class="form-row flex-end">
            <div class="form-item">
                <button type="button" class="favorites" ng-click="saveFavorite = !saveFavorite" ng-class="{'active': saveFavorite}">
                    <i class="ion-close" ng-class="{'ion-close':!saveFavorite, 'ion-checkmark': saveFavorite}"></i>Save to favorites
                </button>
            </div>
            <div class="form-item">
                <button type="submit" ng-disabled="hostForm.$invalid">Connect</button>
            </div>
        </div>

        <!-- <div class="form-row flex-end">
            <div class="form-item">
                <button type="button" ng-click="deleteFavs()">Clear</button>
            </div>
        </div> -->

        <div class="favorites-list ng-fade" ng-show="favorites.length">
            <div class="favorites-header">Favorites</div>
            <span class="favorite" ng-repeat="item in favorites track by $index">
                <span class="name" ng-click="loadFavorite($index)">{{item.name}}</span>
                <span class="delete" ng-click="deleteFavorite($index)">delete</span>
            </span>
        </div>

    </form>




    <div class="menu-footer">&nbsp;</div>
    <!-- <div class="menu-footer">Copyright 2016 nnnorth.com - get @ me if you want features added - <a href="mailto:mitch@mitchsco">mitch@mitchs.co</a></div> -->


</div>

<!--
    MODALS
 -->
<div class="rename zoom" ng-show="showingRename">
    <form ng-submit="renameFile()">
        <input type="text" ng-model="fileRenameInput" show-focus="showingRename" placeholder="new name for {{fileRenameInput}}">
        <div class="modal-buttons">
            <button class="cancel" type="button" ng-click="showingRename = false">cancel</button>
            <button class="proceed" type="submit">rename</button>
        </div>
    </form>
</div>

<div class="newfolder zoom" ng-show="showingNewFolder">
    <form ng-submit="newFolder()">
        <input type="text" ng-model="newFolderName" placeholder="new folder name" show-focus="showingNewFolder">
        <div class="modal-buttons">
            <button class="cancel" type="button" ng-click="showingNewFolder = false">cancel</button>
            <button class="proceed" type="submit">create</button>
        </div>
    </form>
</div>

<div class="newfile zoom" ng-show="showingNewFile">
  <form ng-submit="newFile()">
    <input type="text" ng-model="newFileName" placeholder="new file name" show-focus="showingNewFile">
    <div class="modal-buttons">
      <button class="cancel" type="button" ng-click="showingNewFile = false">cancel</button>
      <button class="proceed" type="submit">create</button>
    </div>
  </form>
</div>


<div class="confirmdelete zoom" ng-show="showingConfirmDelete">
    <form ng-submit="deleteFile()">
        <h1>are you sure?</h1>
        <div class="modal-buttons center">
            <button class="cancel" type="button" ng-click="showingConfirmDelete = false">cancel</button>
            <button class="danger" type="submit" show-focus="showingConfirmDelete">delete</button>
        </div>
    </form>
</div>


<!-- Cancel any operation -->
<!-- <div class="cancel-operation ng-fade" ng-class="{withconsole : fullConsole}" ng-show="showCancelOperation" ng-click="cancelFTPOperation()">Cancel Operation</div> -->

<!-- Consoles -->
<div class="console-preview {{consoleMessageClass}} slideBottom" ng-show="!fullConsole" ng-click="openConsole()">
    <span class="message"><i class="ion-code-working"></i> {{consoleMessage}}</span>
    <span class="console-unread">{{consoleUnread}}</span>
</div>
<div class="console slideBottom" ng-show="fullConsole">
    <div class="console-minimize" ng-click="fullConsole = false"><i class="ion-android-arrow-dropdown"></i></div>
    <div class="console-messages">
        <div class="line {{line.color}}" ng-repeat="line in consoleMessages track by $index">{{line.message}}</div>
    </div>
</div>
